- content_for :head do
  = include_javascripts :groups
  :javascript
    current_group = "#{@group.id}"
    message_remove_from_group = "#{t('.confirm_user')}"
- title t('.title')


%p!= t('.help')


= semantic_form_for @group, :url => admin_group_url do |form|
  = render 'form', :f => form
  
  = form.foldable_inputs :name => :users,:class =>"userToGroup" do

    %section{:id=>"users_in_group"}
      %h5
        = t ".members_group"
      %ul
        - @group.users.uniq.each do |u|
          %li{:class=>"item",:id=>"user_id_#{u._id}",:data=>{"user-id"=>u._id}}
            %span= u.firstname
            %img{:src=>'/images/admin/list/icons/trash.png' , :class => 'remove', :method => :delete,:data=>{"user-id"=>u._id}}
    %section{:id=>"users_list"}
      %h5
        = t ".all_members"
      %ul
        - @users.each do |u|
          %li{:class=>"item",:id=>"user_id_#{u._id}",:data=>{"user-id"=>u._id}}
            %em
            %span= u.firstname
    
  = render 'admin/shared/form_actions', :back_url => admin_groups_url, :button_label => :update