- title t('.title')

- content_for :submenu do
  = render 'admin/shared/menu/settings'

%p!= t('.help')

= semantic_form_for @user, :url => admin_users_url do |f|

  = f.foldable_inputs :name => :information do
    = f.input :firstname
    = f.input :lastname
  = f.foldable_inputs :name => :groups do
    = f.input :firstname
    
  = f.foldable_inputs :name => :credentials do
    = f.input :password, :input_html => { :autocomplete => "off" }
    = f.input :password_confirmation, :input_html => { :autocomplete => "off" }

  = render 'admin/shared/form_actions', :back_url => edit_admin_current_site_url, :button_label => :create