%ul#menu
  = admin_menu_item('contents', admin_pages_url)
  = admin_menu_item('assets', admin_asset_collections_url)
  = admin_menu_item('settings', edit_admin_current_site_url)
  = admin_menu_item('users', admin_users_url)
  = admin_menu_item('groups', admin_users_url)
  = admin_menu_item('meetings', admin_users_url)
  %li.clear
